.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e2e1e1ea;
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.footer-left, .footer-right {
  display: flex;
  align-items: center;
}

.footer-right span {
  font-weight: bold;
}

.footer-right a {
  text-decoration: none; /* Remove o sublinhado */
  color: inherit; /* Usa a cor do elemento pai */
  font-weight: bold; /* Se quiser manter o texto em negrito */
}

.footer-right a:hover {
  color: #a12449; /* Altere conforme o esquema de cores desejado */
}