.home-container {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Alinhamento esticado */
  justify-content: flex-start; /* Alinhado ao início */
  margin: 0;
  padding: 0;
}

.banner-section {
  display: flex;
  align-items: center; /* Centraliza verticalmente o conteúdo */
  justify-content: flex-start; /* Alinha o conteúdo à esquerda */
  height: 60vh;
  width: 160vh;
  background: url('../../assests/images/home_banner.png'); /* Caminho para a imagem de fundo */
  background-size: auto 100%; /* Mantém a largura da imagem original e adapta a altura */
  background-position: right; /* Alinha a imagem à direita */
  background-repeat: no-repeat; /* Não repete a imagem */
  position: relative; /* Permite que elementos internos usem posicionamento absoluto, se necessário */
  margin-right: 220px;
}

.banner-content {
  flex: 0 1 40%; /* Permite que o conteúdo ocupe apenas 40% da largura */
  padding-left: 20px; /* Adiciona espaçamento à esquerda */
  display: flex; /* Para alinhar verticalmente */
  flex-direction: column; /* Alinha o conteúdo verticalmente */
  justify-content: center; /* Centraliza verticalmente */
  z-index: 1; /* Garante que o conteúdo fique acima do fundo */
}

.banner-content h1 {
  font-size: 2.7em;
  color: #a12449;
  margin-left: 430px;
}

/* From Uiverse.io by alexmaracinaru */ 
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 400px;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #a12449;
  width: 56px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #000000;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #000000;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #a12449;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
